API_KEY = "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"
BASE_URL = "https://openrouter.ai/api/v1"
MODEL_NAME = "google/gemini-2.0-flash-001"
GOOGLE_API_KEY = "AIzaSyD_gmtSOaUjJTY4DZ87cEkZEfUfZwBCXZ4"
BASE_URL_PLANE = "http://192.168.6.16/"